{% extends "electricapp/base.html" %}
{% block title %}Мої замовлення{% endblock %}

{% block content %}

<h1 class="page-title">Мої замовлення</h1>

{% if orders %}
<div class="orders-container">
    {% for order in orders %}
    <div class="order-card">
        <div>
            <h3>Замовлення №{{ order.id }}</h3>
            <p>{{ order.created_at|date:"d.m.Y H:i" }}</p>
        </div>

        <div>
            <p class="order-status">{{ order.get_status_display }}</p>
            <p class="order-price">{{ order.total_price }} ₴</p>
            <a href="{% url 'order_detail' order.id %}" class="btn-small">
                Переглянути
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="empty-text">У вас ще немає замовлень.</p>
{% endif %}

{% endblock %}