{% extends "electricapp/base.html" %}
{% block title %}Замовлення{% endblock %}

{% block content %}

<h1 class="page-title">Замовлення №{{ order.id }}</h1>

<div class="order-detail-container">

    <div class="order-info">
        <p><strong>Дата:</strong> {{ order.created_at|date:"d.m.Y H:i" }}</p>
        <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
        <p><strong>Оплачено:</strong> {% if order.is_paid %}Так{% else %}Ні{% endif %}</p>
        <p><strong>Сума:</strong> {{ order.total_price }} ₴</p>

        {% if order.status == "new" and not order.is_paid %}
        <form method="post" action="{% url 'cancel_order' order.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-cancel">
                Скасувати замовлення
        </button>
    </form>
        {% endif %}

    </div>

    <div class="order-items">
        <h2>Товари</h2>

        {% for item in items %}
        <div class="order-item">
            <span>{{ item.product.name }}</span>
            <span>{{ item.quantity }} × {{ item.price }} ₴</span>
            <strong>{{ item.total_price }} ₴</strong>
        </div>
        {% endfor %}
    </div>

    <div class="order-shipping">
        <h2>Доставка</h2>

        {% if shipping %}
            <p>{{ shipping.city }}</p>
            <p>{{ shipping.address }}</p>
            <p>{{ shipping.postal_code }}</p>
        {% else %}
            <p>Адреса доставки не вказана</p>
        {% endif %}
    </div>

</div>

<a href="{% url 'my_orders' %}" class="btn-outline">
    ← Повернутися
</a>

{% endblock %}
