{% extends 'electricapp/base.html' %}
{% block title %}Каталог{% endblock %}

{% block content %}
<section class="hero">
    <h1>Найходовіші смартфони</h1>
    <p>Технології, які обирають мільйони.</p>
</section>

<section class="products-grid">
    {% for product in products %}
    <div class="product-card">
        {% if product.photo %}
            <img src="{{ product.photo.url }}">
        {% endif %}
        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price }} ₴</p>
        <a href="{% url 'product_detail' product.pk %}" class="btn">
            Детальніше
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}