{% extends "electricapp/base.html" %}
{% block title %}Профіль{% endblock %}

{% block content %}

<h1 class="page-title">Профіль</h1>

<div class="profile-card">
    <div class="profile-item">
        <span>Username</span>
        <strong>{{ request.user.username }}</strong>
    </div>

    <div class="profile-item">
        <span>Email</span>
        <strong>{{ request.user.email }}</strong>
    </div>

    <div class="profile-item">
        <span>Телефон</span>
        <strong>{{ request.user.userprofile.phone }}</strong>
    </div>

    <div class="profile-item">
        <span>Місто</span>
        <strong>{{ request.user.userprofile.city }}</strong>
    </div>
</div>

{% endblock %}